.headerbar-container {
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  max-width: 660px;
  font-size: calc(14px + (18 - 14) * ((100vw - 400px) / (1400 - 400)));
}

.headerbar-menu li {
  list-style: none;
  display: inline;
  color: #f8f8f2;
}

ul {
  margin-left: 0px;
  padding-left: 0px;
}

@media (max-width: 350px) {
  .headerbar-menu {
    display: none;
  }
}

.headerbar-text {
  color: #f8f8f2;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  flex: 1;
}

.subscribe-button {
  background-color: #ff79c6;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
