body {
  color: rgba(0,0,0,.7);
}

.nav-container {
  width: 100%;
  position: fixed;
  display: flex;
  flex: 1;
  justify-content: center;
  box-shadow: 4px 2px 2px rgba(0,0,0,0.1);
  background-color: #282a36;
}

.content-container {
  background-color: #F9F9F9;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 1000px) {
  .content-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.app-logo {
  height: 80px;
}

.app-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.container-content {
  background-color: #F9F9F9;
}

.app-intro {
  font-size: large;
}

.modal-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.modal-content {
  margin-top: 20px;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.form {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.input {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  width: 100%;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  background-image: none;
  background-color: #bd93f9;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.close-modal {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
}
